<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>PAGINA-PRINCIPALA</title>
    <meta charset="UTF-8">
    <link rel="website icon" href="/images/roz.jpeg">
    <!---pt un font la text -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> 
    <!--pentru bara din stanga sus-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style2.css" >
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="http://localhost:3000/pag_princ"> <img id="logo" src="/images/profil.jpg"  alt="Profil"> </a>
        <div class="nav-links" id="nav-links">
          <ul>
            <li>
              <a
                style="font-weight: bold"
                href="http://localhost:3000/pag_princ"><strong>HOME</strong></a>
            </li>
          
            <li><a href="http://localhost:3000/tutorial"><strong>TUTORIAL</strong></a></li>
            <li><a href="http://localhost:3000/populare"><strong>TRENDING</strong></a></li>
            <li>
              <a>
                <label for="chart-select"><strong>MAKEUP</strong></label>
                <select id="chart-select">
                  <option></option>
                  <option value="http://localhost:3000/ocazie"><strong>MAKEUP OCAZIE</strong></option>
                  <option value="http://localhost:3000/zi"><strong>MAKEUP ZI</strong></option>
                  <option value="http://localhost:3000/seara"><strong>MAKEUP SEARA</strong></option>
                </select>
              </a>
            </li>
            <li><a href="http://localhost:3000/login"><strong>LOGOUT</strong></a></li>
          </ul>
        </div>
      </nav>
      <div class="clip">MaWa</div>
   
      <div class="text-box">
        <h2>Your Make-up Web Assistant</h2>
        <br>
        <a href="#about" class="hero-btn">DESPRE NOI</a>
      </div>
    </section> <!--Section mare de la header-->

    <!--sectiune de jos cu cele 3 casute pt contact, documnetatie si site de testare-->
<section class="course" id="about">
  <h1><strong>MAI MULT DECÂT MAKEUP</strong></h1>
  <h2>~Your Make-up Web Assistant~</h2>
  <br><br>
  <p>Machiajul nu este doar un set de produse pe care le aplicăm pe față pentru 
    a ne îmbunătăți aspectul fizic. Este o formă de artă, o modalitate de exprimare a sinelui și un 
    instrument prin care ne putem defini și revendica identitatea. Pentru mulți, 
    machiajul reprezintă o sursă de încredere și putere, un scut protector împotriva 
    judecăților lumii exterioare și, în același timp, o punte către conectarea cu ceilalți.
    <br> <br>
    Machiajul oferă un teren vast pentru experimentare și exprimare creativă. Fiecare 
    aplicare este o oportunitate de a testa noi culori, texturi și tehnici, 
    de a reflecta starea de spirit sau chiar de a transmite un mesaj. Este un mod 
    prin care oamenii pot evidenția ceea ce iubesc cel mai mult la ei înșiși și, în 
    același timp, de a experimenta cu noi identități.
    <br><br>
    Pentru mulți, rutina de machiaj este un ritual de pregătire pentru provocările zilnice, 
    o metodă de a-și consolida încrederea în sine și de a se simți pregătiți pentru orice 
    le-ar putea aduce ziua. Acest sentiment de încredere poate avea un impact pozitiv asupra 
    sănătății psihologice, oferind o stare de bine și reducând anxietatea.
    <br><br>
    În ultimii ani, machiajul a devenit și un instrument de schimbare socială, provocând 
    normele de gen și promovând acceptarea și celebrarea diversității. Prin includerea 
    tuturor genurilor, culorilor de piele și tipurilor de corp, lumea machiajului încurajează 
    un mesaj de incluziune și respect reciproc.
    <br><br>
    Machiajul este mult mai mult decât o metodă de a ne îmbunătăți aspectul exterior,
    este o extensie a personalității noastre, o formă de artă și un mijloc de exprimare a individualității.
    Prin culorile și texturile pe care le alegem, ne povestim propria istorie și ne conectăm cu cei din jurul 
    nostru în moduri semnificative și transformative. În esență, machiajul este un limbaj universal al frumuseții
    și al încrederii, 
    care ne împuternicește să fim cei mai buni și mai autentici.
  <br> <strong> Afla mai multe detalii in acest <a href="tutorial.html">tutorial.</a></strong>
  <br><br><br>
  Informatii utile despre contact, help, testarea de produse si documentatie  se gasesc mai jos: 
  <br>
  </p>
    
  <!---casutele de la final-->
      <div class="row">
        <div class="course-col">
          <a style="text-decoration: none" href="http://localhost:3000/contact">
            <h3>Contact</h3>
          </a>
          <p> Întâmpini dificultăți sau ai întrebări? <br>Puteti lua legatura cu noi!</p>
        </div>
        <div class="course-col">
          <a
            style="text-decoration: none"
            href="http://localhost:3000/tutorial">
            <h3>Help</h3>
          </a>
          <p>Tutorialul pas cu pas despre cum să utilizezi produsele corect
             pentru un look perfect! </p>
        </div>
        <div class="course-col">
          <a
            style="text-decoration: none"
            href="https://acneclinicnyc.com/pore-clogging-ingredients/">
            <h3>Testeaza produsul</h3>
          </a>
          <p> Testeaza ingredientele oricarui produs pentru a fi sigur ca e safe</p>
        </div>
        <div class="course-col">
          <a style="text-decoration: none" href="http://localhost:3000/doc">
            <h3>Documentatie Proiect</h3>
          </a>
          <p> Documnetatia MaWa, <br>ghid detaliat pentru a intelege mai bine functionalitatile.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
