<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>MAKEUP-SEARA</title>
    <link rel="website icon" href="/images/roz.jpeg">
    <!---pt un font la text-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> 
    <!--pentru bara din stanga sus-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/makeup.css">
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="http://localhost:3000/pag_princ"> <img id="logo" src="/images/profil.jpg"  alt="Profil"> </a>
        <div class="nav-links" id="nav-links">
          <ul>
            <li>
              <a
                style="font-weight: bold"
                href="http://localhost:3000/pag_princ"><strong>HOME</strong></a>
            </li>
          
            <li><a href="http://localhost:3000/tutorial"><strong>TUTORIAL</strong></a></li>
            <li><a href="http://localhost:3000/populare"><strong>TRENDING</strong></a></li>
            <li>
              <a>
                <label for="chart-select"><strong>MAKEUP</strong></label>
                <select id="chart-select">
                  <option></option>
                  <option value="http://localhost:3000/ocazie"><strong>MAKEUP OCAZIE</strong></option>
                  <option value="http://localhost:3000/zi"><strong>MAKEUP ZI</strong></option>
                  <option value="http://localhost:3000/seara"><strong>MAKEUP SEARA</strong></option>
                </select>
              </a>
            </li>
            <li><a href="http://localhost:3000/login"><strong>LOGOUT</strong></a></li>
          </ul>
        </div>
      </nav>
      <div class="clip">makeup de seara</div>
      <div class="text-box">
        <h2>Your Make-up Web Assistant</h2></div>
    </section> <!--Section mare de la header-->
 
    <br><br>
    <div class="selector">
      <div>
        <label for="chart-select-age">Machiaj de seara in functie de varsta:</label>
              <select id="chart-select-age">
                <option value="20ani">20 de ani</option>
                <option value="30ani">30 de ani</option>
                <option value="50ani">50 de ani</option>
                </select>
      </div>
    </div>
      <div class="selector">
        <div>
        <label for="chart-select-skin">Machiaj de seara in functie de tip de ten:</label>
              <select id="chart-select-skin">
                <option value="tenu">Ten uscat</option>
                <option value="teng">Ten gras</option>
                <option value="tenm">Ten mixt</option>
                <option value="tena">Ten acneic</option>
              </select>
        </div>
      </div>
      <div class="selector">
        <div>
        <label for="chart-select-time">Machiaj de seara in functie de locatie:</label>
              <select id="chart-select-time">
                <option value="restaurant">Restaurant</option>
                <option value="club">Club</option>
                <option value="school">Scoala</option>
                <option value="facultate">Facultate</option>
                </select>
      </div>
    </div>
    <script src="js/pagPrinc.js"></script>
  </body>
</html>