<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Tutorial-PAGINA</title>
    <link rel="website icon" href="/images/roz.jpeg">
    <!---pt un font la text-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> 
    <!--pentru bara din stanga sus-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/css/header.css" >
    <link rel="stylesheet" href="/css/tutorial.css" >
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="http://localhost:3000/pag_princ"><strong>MAWA</strong></a>
        <a href="http://localhost:3000/contul_meu"> <img id= "logo" src="/images/icon.png"  alt="contulmeu"> </a>        <div class="nav-links" id="nav-links">
          <ul>
            <li>
              <a
                style="font-weight: bold"
                href="http://localhost:3000/pag_princ"><strong>HOME</strong></a>
            </li>
            <li>
              <a>
                <label for="chart-select"><strong>MAKEUP</strong></label>
                <select id="chart-select">
                  <option></option>
                  <option value="http://localhost:3000/zi"><strong>MAKEUP ZI</strong></option>
                  <option value="http://localhost:3000/seara"><strong>MAKEUP SEARA</strong></option>
                  <option value="http://localhost:3000/tutorial"><strong>TUTORIAL</strong></option>
                  <option value="http://localhost:3000/populare"><strong>TRENDING</strong></option>
                  <option value="http://localhost:3000/produse"><strong>PRODUSE</strong></option>
                </select>
              </a>
            </li>
            <li>
              <a
                style="font-weight: bold"
                href="http://localhost:3000/favorite">FAVORITE</a>
            </li>
            <li><a href="http://localhost:3000/login"><strong>LOGOUT</strong></a></li>
            <li><a href="http://localhost:3000/contact"><strong>CONTACT</strong></a></li>
          </ul>
        </div>
      </nav>
      <div class="clip">tutorial makeup</div>
      <div class="text-box">
        <h1>Your Make-up Web Assistant</h1></div>
    </section> <!--Section mare de la header-->

    <ol class="chenare" style="--length: 20">
      <li>
        <h2>Importanța pregătirii tenului</h2>
        <img class="makeup" src="/images/tutorial/t01.jpeg" alt="Makeup">
        <p>Foloseste o baza de machiaj hidratantă pe obraji și una mată pe zona T a feței, pe frunte și nas.</p>
      </li>
      <li>
        <h2>Cum aplicam corect fondul de ten</h2>
        <img class="makeup" src="/images/tutorial/t1.jpeg" alt="Makeup">
        <p>Cu ajutorul unui beauty blender pentru o acoperire mare, iar pentru o acoperire medie o pensulă.</p>
      </li>
      <li>
        <h2>Cum ne conturam tenul</h2>
        <img class="makeup" src="/images/tutorial/t2.jpeg" alt="Makeup">
        <p>Conturul trebuie să aibă o nuanță mai închisă și  bronzerul să fie mai cald aplicat cu o pensula in zona obrajilor.

        </p>
      </li>
      <li>
        <h2>Cum aplicam blush-ul</h2>
        <img class="makeup" src="/images/tutorial/t3.jpeg" alt="Makeup">
        <p>Blush-ul se aplică pe pomeți, dar aproape de ochi pentru un efect de lifting.</p>
      </li>
      <li>
        <h2>Cum acoperim roșeața</h2>
        <img class="makeup" src="/images/tutorial/contur.jpg" alt="Makeup">
        <p>Roșeața poate fi acoperită cu ajutorul concelearului pe zonele dorite, asteapta 1 minunt dupa ce ai pus produsul apoi poti folosi o pensula.</p>
      </li>
      <li>
        <h2>Ochi</h2>
        <img class="makeup" src="/images/tutorial/t5.jpg" alt="Makeup">
        <p>Aplica mascara de la baza genelor spre exterior prin miscari stanga-dreapta pentru a avea un volum garantat.</p>
      </li>
      
      <li>
        <h2>Mahiajul buzelor</h2>
        <img class="makeup" src="/images/tutorial/t4.jpg" alt="Makeup">
        <p>Alege un creion cremos si urmareste conturul buzelor, pentru un efect de volum poti depasi putin in partea de sus buzelor</p>
      </li>
    </ol>
   <p><strong>~ pentru produse poti folosi aceste <a href="http://localhost:3000/produse"> produse </a> ~</strong></p>
    <br><br>
    <script src="js/menu.js"></script>
    <script src="js/pagPrinc.js"></script>
  </body>
</html>