<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Tutorial-PAGINA</title>
    <link rel="website icon" href="/images/roz.jpeg">
    <!---pt un font la text-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> 
    <!--pentru bara din stanga sus-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/css/header.css" >
    <link rel="stylesheet" href="/css/tutorial.css" >
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html"> <img id="logo" src="/images/profil.jpg"  alt="Profil"> </a>
        <div class="nav-links" id="nav-links">
          <ul>
            <li><a href="party.html"><strong>MAKEUP PETRECERE</strong></a></li>
            <li><a href="natural.html"><strong>MAKEUP NATURAL</strong></a></li>
            <li><a href="zi.html"><strong>MAKEUP ZI</strong></a></li>
            <li><a href="seara.html"><strong>MAKEUP SEARA</strong></a></li>
            <li><a href="mireasa.html"><strong>MAKEUP MIREASA</strong></a></li>
            <li><a href="tutorial.html"><strong>TUTORIAL</strong></a></li>
            <li><a href="populare.html"><strong>TRENDING</strong></a></li>
            <li><a href="login.html"><strong>LOGOUT</strong></a></li>
          </ul>
        </div>
      </nav>
      <div class="clip">tutorial makeup</div>
      <div class="text-box">
        <h1>Your Make-up Web Assistant</h1></div>
    </section> <!--Section mare de la header-->

    <ol class="chenare" style="--length: 20">
      <li>
        <h2>Importanța pregătirii tenului</h2>
        <img class="makeup" src="/images/tutorial/t01.jpeg" alt="Makeup">
        <p>descriere pt pregatirea tenului</p>
      </li>
      <li>
        <h2>Cum aplicam corect fondul de ten</h2>
        <img class="makeup" src="/images/tutorial/t1.jpeg" alt="Makeup">
        <p>descriere</p>
      </li>
      <li>
        <h2>Cum ne conturam tenul</h2>
        <img class="makeup" src="/images/tutorial/t2.jpeg" alt="Makeup">
        <p>descriere</p>
      </li>
      <li>
        <h2>Cum aplicam blush-ul</h2>
        <img class="makeup" src="/images/tutorial/t3.jpeg" alt="Makeup">
        <p>descriere</p>
      </li>
      <li>
        <h2>Cum acoperim roteatea</h2>
        <img class="makeup" src="/images/tutorial/contur.jpg" alt="Makeup">
        <p>descriere</p>
      </li>
      <li>
        <h2>Ochi</h2>
        <img class="makeup" src="/images/tutorial/t5.jpg" alt="Makeup">
        <p>descriere</p>
      </li>
      
      <li>
        <h2>Mahiajul buzelor</h2>
        <img class="makeup" src="/images/tutorial/t4.jpg" alt="Makeup">
        <p>descriere buze</p>
      </li>
    </ol>
   <p><strong>~ pentru produse poti folosi aceste <a href="populare.html"> produse </a> ~</strong></p>
    <br><br>
  </body>
</html>