<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>PRODUSE VIRALE</title>
    <link rel="website icon" href="/images/roz.jpeg">
    <!--pt un font la text-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> 
    <!--pentru bara din stanga sus-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/populare.css">
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="http://localhost:3000/pag_princ"> <img id="logo" src="/images/profil.jpg"  alt="Profil"> </a>
        <div class="nav-links" id="nav-links">
          <ul>
            <li><a href="http://localhost:3000/party"><strong>MAKEUP PETRECERE</strong></a></li>
            <li><a href="http://localhost:3000/natural"><strong>MAKEUP NATURAL</strong></a></li>
            <li><a href="http://localhost:3000/zi"><strong>MAKEUP ZI</strong></a></li>
            <li><a href="http://localhost:3000/seara"><strong>MAKEUP SEARA</strong></a></li>
            <li><a href="http://localhost:3000/mireasa"><strong>MAKEUP MIREASA</strong></a></li>
            <li><a href="http://localhost:3000/tutorial"><strong>TUTORIAL</strong></a></li>
            <li><a href="http://localhost:3000/populare"><strong>TRENDING</strong></a></li>
            <li><a href="http://localhost:3000/login"><strong>LOGOUT</strong></a></li>
          </ul>
        </div>
      </nav>
      <div class="clip">trending</div>
      <div class="text-box">
        <h2>Your Make-up Web Assistant</h2></div>
    </section> <!--Section mare de la header-->

    <!---PRODUSE virale pe social media-->
<section class="articles">
  <h1><strong>PRODUSE POPULARE PE SOCIAL MEDIA</strong></h1>
  
  <p>Informațiile următoare includ produse care au avut un impact pe social media, pe
    platforme precum instagram, tiktok.</p>
    <br><br>
  <div class="row">

    <!--diorlipoil-->
    <div class="articles-col">
        <img src="/images/trending/lipOil.jpg" alt="" >
        <h3><strong>Lip oil ~ Dior</strong></h3>
      <p>
       Lip Glow Oil reacționează direct cu buzele fiecărei femei, 
       pentru o culoare personalizată, asigurând în același timp o 
       hidratare continuă. 
      </p>
    </div>

    <!--fenty-->
    <div class="articles-col">
        <img src="/images/trending/fenty.jpg" alt="" >
        <h3><strong>Iluminator ~ Fenty Beauty</strong></h3>
      <p>
        Diamond Bomb, acest iluminator este saturat 
        cu strălucire 100% pură pentru un aspect de strălucire 
        delicată care pune ăn valoare toate tonurile de piele.
      </p>
    </div>

    
    <div class="articles-col">
        <img src="/images/trending/tarte.jpg" alt="" >
        <h3><strong>Corector ~ Tarte</strong></h3>
      <p>
        Corectorul shape tape are o formulă cu acoperire completă cu rezistență impecabilă de 16 ore.
        Nu se acumulează în pliuri, nu încarcă și nu se depune.
      </p>
    </div>

  </div> <!--div de la primele 3 produse-->


  <!--urmatoarele 3 produse-->
  <div class="row">
    <div class="articles-col">
        <img src="/images/trending/rare.jpg" alt="" >
        <h3><strong>Blush ~ Rare Beauty</strong></h3>
      <p>
        Un fard lichid de obraz rezistent si lejer care 
        poate fi estompat si ajustat cu usurinta pentru a oferi
         o culoare naturala si aerata.
        Creaza un efect de imbujorare cu aceasta formula usoara infuzata 
        cu pigmenti care rezista intreaga zi.
      </p>
    </div>
    <div class="articles-col">
        <img src="/images/trending/fondDeTen.jpg" alt="" >

        <h3><strong>Fond de Ten ~ Estee Lauder</strong></h3>
      <p>
        Double Wear Stay-in-Place SPF 10, acest fond de ten lichid asigura o 
        piele perfecta si un ten proaspat 
        pe tot parcursul zilei, datorita formulei sale cu 
        factor de protectie SPF 10 care se mentine intreaga zi. 
      </p>
    </div>
    <div class="articles-col">
        <img src="/images/trending/huda.jpg" alt="" >
        <h3><strong>Pudra ~ Huda Beauty</strong></h3>
      <p>
        Easy Bake Loose Powder, textura sa extrem de lejera si fina precum matasea 
        adera perfect pe piele si o matifiaza cu o atingere 
        de luminozitate, pentru un rezultat natural si radios
      </p>
    </div>

  </div> <!--div de la row pt cele  3 produse noi-->

<!--urmatoarele 3 produse-->
<div class="row">
  <div class="articles-col">
      <img src="/images/trending/maybellline.jpg" alt="" >
      <h3><strong>Mascara ~ Maybelline</strong></h3>
    <p>
      Maybelline Lash Sensational Sky Hig oferă o 
      alungire maximă. La fel de ușor ca și 
      aplicarea acestuia va fi și demachierea, 
      deoarece rimelul se demachiază doar cu apă!
    </p>
  </div>
  <div class="articles-col">
      <img src="/images/trending/baza.jpg" alt="" >

      <h3><strong>Baza de machiaj~ Milk Makeup</strong></h3>
    <p>
      Primerul Hydro Grip este formulat cu apa de aloe, 
      floare de visine, acid hialuronic si vitamina B pentru a 
      sustine si hidrata pielea. Hraneste, calmeaza si pregateste 
      tenul pentru un machiaj proaspat. 
    </p>
  </div>
  <div class="articles-col">
      <img src="/images/trending/paletaMario.jpg" alt="" >
      <h3><strong>Paletă farduri de pleoape ~ MAkeup By Mario</strong></h3>
    <p>
      O paleta universala de culori mate indispensabila, 
      formulata pentru a fi construibila cu usurinta, 
      pentru a trece fara probleme de la un look natural la 
      unul spectaculos.
    </p>
  </div>

</div> <!--div de la row pt cele  3 produse noi-->
</section> <!--section article-->

  </body>
</html>
