/* pentru select de machiaj */
  .selector {
    width: 27%; 
    margin: 20px; 
    text-align: center; 
    border-radius: 10px;  
    padding: 20px; 
    background-color: #fff; 

    font-family: 'Poppins', sans-serif;
  } 

  .selector select {
    width: auto;
    max-width:40%; 
    padding: 4px;
    font-size: 14px;
    background-color:rgb(246, 212, 217);
    color: rgb(163, 24, 84);
    font-weight: bold;
    border: 1px solid hotpink;
    border-radius: 6px;
  }
  
  select:hover {
    outline: none;
    border-color: hotpink;
    box-shadow: 0 0 10px hotpink;
  } 

  .selector label {
    
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    
    color: rgb(163, 24, 84); 
    margin-top: 0;
    margin-bottom: 16px; 
    text-align: left;
  }

  .selector option {
    padding: 5px;
    background: white; 
    color:hotpink;
  }
 

  .chart-container
  {
    flex-basis: 90%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; 
    transition: width 1s;
  }


